body {
	background-color:#464641;
}

#gameCanvas {
	background-image:url("background.jpg");
	display: block;
	margin-left: auto;
    margin-right: auto;
}
.center {
	display: block;
	margin-left: auto;
    margin-right: auto;
}
