body {
	background-color:#464641;
}

#gameCanvas {
	background-image:url("background.jpg");
	display: block;
	margin-left: auto;
    margin-right: auto;
}
.center {
	display: block;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.smallfont{
	font-size: 14px;
}
.xtrasmallfont{
	font-size: 12px;
}
a:link {
	color:black;
	font-family: Courier;
}
a:visited {
	color:gray;
	font-family: Courier;
} 
p {
	font-family: Courier;
}
